<div class="account-list">
  <button (click)="openAddAccount()">Add Account</button>
  <ng-container *ngIf="isOpenAddAccount">
    <div class="add-account">
      <button (click)="saveNew()">Save</button>
    </div>
  </ng-container>
  <ng-container *ngIf="isOpenEditAccount">
    <div class="add-account">
      <button (click)="saveEdit()">Save</button>
    </div>
  </ng-container>
  <div class="search">
    <input type="text" [(ngModel)]="searchStr" (ngModelChange)="search()">
  </div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Balance</th>
      <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let account of account; let index=index">
      <td>{{account.firstname}} {{account.lastname}}</td>
      <td>{{account.age}}</td>
      <td>{{account.balance}}</td>
      <td>
        <button (click)="openEdit(account)">Sửa</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
